<div class="container">
    <div class="row">
       <div class="col-md-6">
          <div class="card">
            <div class="text-center" style="background-color: gray;color: white;">
                 <h1>Sign Up Property</h1>
                 <h5>Create an Account</h5>
            </div>
            <hr>
            <form action="">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                      <input type="text"  class="form-control" id="name" placeholder="Enter Name">
                  </div>
                  <div class="mb-3">
                    <label for="mobileno" class="form-label">Mobile No</label>
                      <input type="text"  class="form-control" id="mobileno" placeholder="Enter Email">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Email</label>
                      <input type="email"  class="form-control" id="formGroupExampleInput" value="email@example.com" placeholder="Enter Email">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password" autocomplete="off">
                  </div>
                  <button type="button" class="btn btn-primary text-center">Sign Up</button>
            </form>
            <a style="text-decoration: none;cursor: pointer;color: blue;font-weight: bold;" (click)="redirect()">Already User Exists ? Click to Login</a>
          </div>
       </div>
    </div>
</div>

