<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h2 style="color: white;">TC Properties</h2>
    <div class="d-flex">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAddProp()" >Add Listing</button>
        <button routerLink="/login" class="btn btn-danger mx-3">Logout</button>
    </div>
</div>

</nav>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Deccan Properties</h1>
        <p class="col-md-8 fs-4">You can add Property Data free</p>
        <a class="btn btn-primary" target="_blank" type="button" href="">Property</a>
        <h1> Likes :{{count}}</h1>
    </div>

</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Propert Title</th>
        <th scope="col">Property Price</th>
        <th scope="col">Property Location</th>
        <th scope="col">Property Details</th>
        <th scope="col">Likes</th>
        <th scope="col">Action </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allproperty">
        <th scope="row">1</th>
        <td>{{data.id}}</td>
        <td>{{data.ptitle}}</td>
        <td>{{data.pprice}}</td>
        <td>{{data.plocation}}</td>
        <td>{{data.pdetails}}</td>
        <td> 
            <button class="btn btn-success mx-2" style="height:80px;width: 80px;" (click)="clickCount()"><img src="../../assets/rename.png"></button>
        <button class="btn btn-primary" data-bs-target="#exampleModal" (click)="editUser(data)">Edit</button>
        <button class="btn btn-success mx-2" data-bs-target="#exampleModal" (click)="displayPermission(data)">View</button>
        <button class="btn btn-danger mx-2" (click)="deleteProperty(data.id)">Delete</button>
        </td>
      </tr>
      
    </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Property Record Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                    <label for="pname" class="form-label">Property Name</label>
                      <input type="text"  class="form-control" id="pname" formControlName="ptitle" placeholder="Enter Property Name">
                  </div>
                  <div class="mb-3">
                    <label for="pprice" class="form-label">Property Price</label>
                      <input type="text"  class="form-control" id="pprice" formControlName="pprice" placeholder="Enter Email">
                  </div>
                  <div class="mb-3">
                    <label for="plocation" class="form-label">Property Location</label>
                      <input type="email"  class="form-control" id="plocation" autocomplete="off" formControlName="plocation" placeholder="Enter Email">
                  </div>
                  <div class="mb-3">
                    <label for="pdetails" class="form-label">Property Details</label>
                      <input type="text" class="form-control" id="pdetails" formControlName="pdetails" placeholder="Enter Password" autocomplete="off">
                  </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" *ngIf="showEdit">Update</button>
          <button type="button" id="clear" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="addProperty()">Submit</button>
        </div>
      </div>
    </div>
  </div>
